:root {
  --primary-color: #3356EB;
  --text-color: #000;
  --text-color-white: #fff;
  --text-color-gray: #eee;
  --bg-color-gray: #F1F2F4;
  --bg-color-white: #fff;

  --el-color-primary: var(--primary-color) !important;
  --el-disabled-bg-color: var(--text-color-gray) !important;
  --el-checkbox-checked-bg-color: var(--primary-color);
  --el-checkbox-checked-input-border-color: var(--primary-color);
  --active-color: var(--primary-color);
  --scrollbar-bg: #e6e8ee;
}

/* 覆盖uno.css全局样式 */
.container {
  max-width: 100%;

  @media (min-width: 1280px) {
    max-width: 100%;
  }

  @media (min-width: 1536px) {
    max-width: 100%;
  }

  @media (min-width: 1024px) {
    max-width: 100%;
  }
}

html.dark,
body.dark {
  color-scheme: dark;
  // --text-color: #fff;
  --bg-color-white: #454545;
  --el-menu-bg-color: var(--bg-color-white);
}

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #f2f2f2;
  color: var(--text-color);
}

* {
  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--scrollbar-bg);
    border-radius: 4px;
  }
}

.iconify,
.iconify--ai-eyes {
  fill: currentColor;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: rgb(13, 148, 136);
  opacity: 0.75;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

.page-container {
  position: relative;
  flex: 1;
  overflow-y: auto;
  padding: 20px;
}

.input {
  border-radius: 8px;
  border: none;
  padding: 6px;
  outline: none;
  background: #eee;
}

.divider {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: stretch;
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 1rem;
  white-space: nowrap
}

.divider:before,
.divider:after {
  height: .125rem;
  width: 100%;
  flex-grow: 1;
  --tw-content: "";
  content: var(--tw-content);
  background-color: var(--fallback-bc, oklch(var(--bc)/.1))
}

.divider-start:before {
  display: none
}

.divider-end:after {
  display: none
}